.header {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: $menu-background-color;
  padding: 1rem 2rem;
}

.intro {
  &__title {
    font-size: 1rem;
  }
  &__hello {
    font-size: 3rem;
    color: $primary-color;
    font-weight: 500;
  }
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $card-text-color;
  &__card {
    height: 200px;
    background: $secondary-color;
    padding: 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
}

.card {
  width: 100%;
  margin: 1rem;
  &__logo {
    align-self: flex-end;
  }
  &__text {
    display: flex;
    flex-direction: column;
  }
}

.text {
  &--bg-number {
    font-size: 1.5rem;
  }
}
