@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

$primary-color: #1e1d21;
$secondary-color: #2745bb;
$light-blue: #5c93dc;
$green: #55a579;
$yellow: #e6bc63;
$orange: #d6a670;
$text-color: #6c737a;
$card-text-color: rgb(235, 235, 235);
$light-grey: #bfbfbf;
$primary-bg-color: #e8ebf6;
$secondary-bg-color: white;
$shadow: rgba(149, 157, 165, 0.2) 0px 14px 24px;
$shadow2: rgba(0, 0, 0, 0.24) 0px 4px 8px;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
}

body {
  font-family: "Open Sans", sans-serif;
  background: $primary-color;
  color: $text-color;
  font-weight: 400;
  line-height: 1.6;
  height: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
}

p {
  font-size: 1.3rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

main {
  position: relative;
  width: 83%;
  background: $primary-bg-color;
}
