@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

$primary-color: #1e1d21;
$secondary-color: #2745bb;
$text-color: #6c737a;
$card-text-color: rgb(235, 235, 235);
$menu-background-color: white;
$background-color: #e8ebf6;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
}

body {
  font-family: "Montserrat", sans-serif;
  background: $primary-color;
  color: $text-color;
  line-height: 1.6;
  height: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.fas {
  padding: 1rem;
  font-size: 2rem;
  &:hover {
    color: $secondary-color;
  }
}

%btn {
  display: inline-block;
  border: 0;
  background: $secondary-color;
  color: #fff;
  border-radius: 8px;
  padding: 1rem 3rem;
  outline: none;
  cursor: pointer;
  text-align: center;
  &:hover {
    transform: scale(1.1);
  }
}

.btn-primary {
  @extend %btn;
  background-color: $primary-color;
}

.btn-secondary {
  @extend %btn;
  background-color: lighten($secondary-color, 20%);
}

.primary-text {
  color: $primary-color;
}

.secondary-text {
  color: $secondary-color;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  position: relative;
  width: 75%;
  background: $background-color;
}

.container {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  position: relative;
  padding: 4rem 2rem;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
