.navbar {
  background: $secondary-bg-color;
  width: 17%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__header {
    border-bottom: 1px solid grey;
  }
  &__title {
    font-size: 2rem;
  }
  &__heading {
    padding: 1rem 2rem;
  }
  &__section {
    padding: 4rem 0rem;
  }
  li {
    padding: 1rem 2rem;
    &:hover {
      background: #f5f5f5;
      color: $secondary-color;
    }
  }
}
