.card--large {
  padding: 0;
  &__title {
    display: block;
    width: 100%;
    padding: 1.3rem 1rem;
    border-bottom: 1px solid $light-grey;
    color: $primary-color;
    font-size: 1.2rem;
  }
  &__inner {
    padding: 2rem;
  }
}
